.main {
margin-left: 40px;
}

.header-text {
  font-weight: 600;
  text-align: left;
  padding: 20px 0px 0px 20px;
  border-bottom: 1px solid #EEEEEE;
}
.header-text span {
  font-weight: 400;
}

.collection {
  display: flex;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: row;
  margin: 20px;
  height: 183px;
  width: 404px;
}
.card:hover {
  box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.15);
}

.card img {
  height: 183px;
  width: 110px;
}

.book-details {
  width: 100%;
  text-align: left;
  padding-left: 15px;
  padding-top: 15px;
}
.book-details h5 {
  margin: 0;
}

.author {
  margin: 0;
  font-size: 12px;
  display: inline;
}
.author p {
  display: inline-block;
  margin-right: 2px;
}
.author span {
  display: inline-block;
}

.genre {
  display: inline-block;
  margin: 0;
  font-size: 12px;
  position: relative;
  bottom: 14px;
}

.status {
  display: flex;
  font-size: 12px;
  text-align: center;
}
.status p {
  margin: 0px 5px;
}
.icon {
  flex-direction: column;
}
.ratings {
  flex-direction: column;
  margin-left: 10px;
  padding-left: 6px;
  border-left: 1px solid #EEEEEE;
}
.star-fill path {
  fill: #EBA430;
}
.star-none path {
  fill: #DDDDDD;
}

.availability {
  padding-top: 15px;
  display: inline;
  font-size: 12px;
}

.availability p {
  display: inline-block;
}

.in-stock {
  margin-left: 10px;
  color: #65C100;
}

.out-stock {
  margin-left: 14px;
  color: #C12300;
}

.cart-button {
  display: block;
  background-color: white;
  border: none;
  cursor: pointer;
  padding-left: 0;
}
.cart-button svg {
  margin-right: 6px;
}
.disabled-button {
  cursor: default;
}

.carousel {
  width: 95%;
  padding-left: 20px;
  margin-top: 20px;
}
.carousel-image {
  width: 220px;
  height: 330px;
}
