.navbar {
  height: 45px;
  margin: 0;
  padding: 14px;
  overflow: hidden;
  border: 1px solid #eeeeee;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.05);
}

#left-items {
  float: left;
  display: flex;
  flex-direction: row;
  width: 80%;
}

#right-items {
  float: right;
}

.right-items {
  float: right;
  cursor: pointer;
}

.books-icon {
  padding: 0px 14px 14px 14px;
}

.search-container {
  margin: 0 auto;
  padding-top: 10px;
}

.search-container input {
  width: 350px;
  height: 25px;
}

.search-container button {
  width: 30px;
  height: 31px;
}

.logo {
  font-size: 20px;
}

.logo a {
  padding-bottom: 0;
  position: relative;
  top: 8px;
  padding-top: 10px;
  text-decoration: none;
  color: black;
}

.logo p {
  font-size: 12px;
  padding-left: 14px;
  font-style: italic;
  color: #aaaaaa;
}

.shopping-icon {
  top: 13px;
  position: relative;
  margin-right: 20px;
  cursor: pointer;
}

.cart-quantity {
  margin: 0;
  position: relative;
  bottom: 8px;
  left: 12px;
  padding-left: 5px;
  font-size: 12px;
  font-weight: 700;
  color: white;
  background: #65c100;
  border-radius: 10px;
  height: 14px;
  width: 12px;
  text-align: left;
}
